a:link, a:hover, a:visited, a:active {
  color: black;
}

.container {
	overflow: auto;
	width: 100%  
}

.items {
  width: 70%;
}

.item { 
  width: 300px;
  height: 340px;
  padding: 30px;
  float: left;
}

.item .content {
  border: 10px solid #D0CABC;
  color:#333333;
  padding: 10px;
}

.itemInfo {
  border: 2px black;
}

.item .content:hover {
  border-color:#E3402F;
}


/*.item .content {
  border: 1px red;
  width: 100%;
  height: 100%;
}
*/
.items li {
  list-style-type:none;
}

a, a img {
  text-decoration: none;
  border: 0;
}
  
.box1 { 
  padding: 10px;
  background: transparent url(/images/box1.png) no-repeat scroll left top; 
}

.box2 { 
  padding: 10px;
  background: transparent url(/images/box2.png) no-repeat scroll left top; 
}

.box3 { 
  padding: 10px;
  background: transparent url(/images/box3.png) no-repeat scroll left top; 
}

.item .title {
  border-bottom:3px solid #E8E8E8;
  color:#222222;
  font-size: 1.3em;
  padding: 4px;  
}

.item .price {
  padding: 4px;
  font-size: 1.1em;
}

.item .image {
  padding: 4px;
  border-top:1px solid #CCCCCC;
}

.item .city {
  color:#999999;
}