.filterBar
  Filter Bar
  - form_tag filter_items_url do
    Show me all da Bikes from 
    = select_tag 'company', options_for_select(Company.all.collect(&:name).uniq), :include_blank => true
    = submit_tag